  
:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --btn-color: #363539;
  --reset-color: #a7aab0;
  --operator-color: #fe8e00;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
  }

.calc {
  display: flex;
  flex-direction: column;
  background-color: var(--black-color);
  color: var(--white-color);
  padding: calc(var(--padding)/2);
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  text-align: center;
  border: 3px solid var(--black-color);
  border-radius: 10px;
  padding: calc(var(--padding)/3*2);
}

.col3 {
  width: 75%;
}

.col2 {
  width: 50%;
}

.col1 {
  width: 25%;
}

.reset {
  background-color: var(--reset-color);
}
.operator {
  background-color: var(--operator-color);

}
.btn {
  background-color: var(--btn-color);
}

.field {
  text-align: right;

}